1.
Abbiamo la stringa: nome_scuola = "Epicode".

Stampare ogni carattere della stringa, uno su ogni riga, utilizzando un costrutto while.

In [ ]:
nome_scuola = "Epicode"
index = 0 #init
while index < len(nome_scuola):
  print(nome_scuola[index])
  index += 1

E
p
i
c
o
d
e

2.
Stampare a video tutti i numeri da 0 a 20 utilizzando il costrutto while.

In [ ]:
numero = 0 #init
while numero <=20:
  print(numero)
  numero += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

3.
Calcolare e stampare tutte le prime 10 potenze di 2 (e.g., 2⁰, 2¹, 2², …) utilizzando un ciclo while.

In [ ]:
base = 2 #init
exp = 0 #init

while exp < 10:
  print("2 elevato alla", exp, "è uguale a", base**exp)
  exp += 1

2 elevato alla 0 è uguale a 1
2 elevato alla 1 è uguale a 2
2 elevato alla 2 è uguale a 4
2 elevato alla 3 è uguale a 8
2 elevato alla 4 è uguale a 16
2 elevato alla 5 è uguale a 32
2 elevato alla 6 è uguale a 64
2 elevato alla 7 è uguale a 128
2 elevato alla 8 è uguale a 256
2 elevato alla 9 è uguale a 512

4.
Calcolare e stampare tutte le prime N potenze di 2 utilizzando un ciclo while, domandando all'utente di inserire N.

In [ ]:
base = 2 #init
exp = 0 #init
#inserire valore limite di n-esima potenza
limite = int(input("Inserire numero di potenze: "))


while exp < limite:
  print("2 elevato alla", exp, "è uguale a", base**exp)
  exp += 1

Inserire numero di potenze: 15
2 elevato alla 0 è uguale a 1
2 elevato alla 1 è uguale a 2
2 elevato alla 2 è uguale a 4
2 elevato alla 3 è uguale a 8
2 elevato alla 4 è uguale a 16
2 elevato alla 5 è uguale a 32
2 elevato alla 6 è uguale a 64
2 elevato alla 7 è uguale a 128
2 elevato alla 8 è uguale a 256
2 elevato alla 9 è uguale a 512
2 elevato alla 10 è uguale a 1024
2 elevato alla 11 è uguale a 2048
2 elevato alla 12 è uguale a 4096
2 elevato alla 13 è uguale a 8192
2 elevato alla 14 è uguale a 16384

5.
Calcolare e stampare tutte le potenze di 2 minori di 25000.

In [ ]:
base = 2 #init
exp = 0 #init

while base**exp < 25000:
  print("2 elevato alla", exp, "è uguale a", base**exp)
  exp += 1

2 elevato alla 0 è uguale a 1
2 elevato alla 1 è uguale a 2
2 elevato alla 2 è uguale a 4
2 elevato alla 3 è uguale a 8
2 elevato alla 4 è uguale a 16
2 elevato alla 5 è uguale a 32
2 elevato alla 6 è uguale a 64
2 elevato alla 7 è uguale a 128
2 elevato alla 8 è uguale a 256
2 elevato alla 9 è uguale a 512
2 elevato alla 10 è uguale a 1024
2 elevato alla 11 è uguale a 2048
2 elevato alla 12 è uguale a 4096
2 elevato alla 13 è uguale a 8192
2 elevato alla 14 è uguale a 16384

6.
Abbiamo due liste, una di studenti e una di corsi:

studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]

corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend"].

Aggiungere i dati mancanti alla lista corsi, sapendo che:

* Emma segue Data Analyst
* Faith segue Backend
* Grace segue Frontend
* Henry segue Cybersecurity

Aggiungeremo i dati mancanti uno alla volta con il metodo per appendere in coda alle liste, poi verificheremo che sono della stessa lunghezza e se lo sono stamperemo la lista corsi. Se alcuni dati sono già presenti non vanno aggiunti di nuovo.

In [ ]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend"]

corsi.append("Data Analyst")
corsi.append("Cybersecurity")

if len(studenti) == len(corsi):
  print(corsi)

['Cybersecurity', 'Data Analyst', 'Backend', 'Frontend', 'Data Analyst', 'Backend', 'Data Analyst', 'Cybersecurity']

7.
Scriviamo un programma che chiede in input all'utente una stringa e visualizza i primi 3 caratteri, seguiti da 3 punti di sospensione e quindi gli ultimi 3 caratteri, similmente all'esercizio della lezione scorsa.

Stavolta facciamo attenzione a tutti i casi particolari, ovvero implementare soluzioni ad hoc per stringhe di lunghezza inferiore a 6 caratteri.

In [ ]:
#inserire valore stringa
stringa = input("Inserisci una parola: ")

if len(stringa) >= 6:
  print(stringa[0:3],"...",stringa[-3:], sep='')
elif len(stringa) >= 4:
   print(stringa[0:2],"...",stringa[-2:], sep='')
else:
   print(stringa[0],"...",stringa[-1], sep='')

Inserisci una parola: Pappagallo
Pap...llo

8.
Memorizza e stampa tutti i fattori di un numero dato in input.

In [ ]:
numero = int(input("Inserire un numero: "))
copia_numero = numero #per tenere in memoria il numero inserito
fattore = 2 #init
fattori =[] #init

while numero != 1:
  if numero / fattore == int(numero / fattore):
    fattori.append(fattore)
    numero = numero / fattore
  else:
    fattore += 1

print("Il numero inserito è", copia_numero)
print("I suoi fattori sono", fattori)

Inserire un numero: 32456475
Il numero inserito è 32456475
I suoi fattori sono [3, 3, 5, 5, 67, 2153]

9.
Abbiamo la stringa: nome_scuola = "Epicode".

Stampare ogni carattere della stringa, uno su ogni riga, utilizzando un costrutto for.

In [ ]:
nome_scuola = "Epicode"

for lettera in nome_scuola:
  print(lettera)

E
p
i
c
o
d
e

10.
Calcolare e stampare tutte le prime 10 potenze di 2 utilizzando un ciclo.

In [ ]:
range_numerico = list()  # init
num = 0  # init
while num < 10:
  range_numerico.append(2 ** num)
  num += 1

print(range_numerico)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

11.
Calcolare (ma non stampare) le prime N potenze di K; ognuna di esse andrà memorizzata in coda a una lista. Alla fine, stampare la lista risultante.

Proviamo con diversi valori di K, oppure facciamola inserire all'utente.

Realizzare due versioni:
* con un ciclo while
* con un ciclo for.

In [ ]:
#con ciclo for

K = int(input("Inserire la base: "))
N = int(input("Inserire il numero di potenze: "))
lista_potenze = [] #init

for exp in range(N):
  lista_potenze.append(K**exp)

print("Le prime", N, "potenze di", K, "sono", lista_potenze)

Inserire la base: 4
Inserire il numero di potenze: 16
Le prime 16 potenze di 4 sono [1, 4, 16, 64, 256, 1024, 4096, 16384, 65536, 262144, 1048576, 4194304, 16777216, 67108864, 268435456, 1073741824]

In [ ]:
#con ciclo while

K = int(input("Inserire la base: "))
N = int(input("Inserire il numero di potenze: "))
lista_potenze = [] #init

while len(lista_potenze) < N:
  lista_potenze.append(K**len(lista_potenze))

print("Le prime", N, "potenze di", K, "sono", lista_potenze)

Inserire la base: 4
Inserire il numero di potenze: 16
Le prime 16 potenze di 4 sono [1, 4, 16, 64, 256, 1024, 4096, 16384, 65536, 262144, 1048576, 4194304, 16777216, 67108864, 268435456, 1073741824]

12.
Abbiamo una lista con i guadagni degli ultimi 12 mesi:

guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]

Usando un costrutto for, calcolare la media dei guadagni e stamparla a video.

In [ ]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]
somma = 0 #init

for guadagno in guadagni:
  somma += guadagno

media = somma / len(guadagni)

print("La media dei guadagni è", media)

La media dei guadagni è 70.0

13.
Abbiamo una lista di parole:

parole = ["Albergo", "Sedia", "Borgo", "Petalo", "Eremo", "Belvedere", "Semestre", "Esteta", "Sosta", "Orpello", "Abete", "Orologio", "Cesta", "Ermellino"]

Stampiamo, per ogni parola, quante volte appare la lettera "e"; facciamo attenzione al fatto che appare sia maiuscola che minuscola.

In [ ]:
parole = ["Albergo", "Sedia", "Borgo", "Petalo", "Eremo", "Belvedere", "Semestre", "Esteta", "Sosta", "Orpello", "Abete", "Orologio", "Cesta", "Ermellino"]
ricerca = input("Inserire una lettera da cercare nella lista: ")
ricerca = ricerca.lower()

for parola in parole:
  conteggio = parola.lower().count(ricerca)
  print("La parola", parola, "contiene", conteggio, "lettere", ricerca)

Inserire una lettera da cercare nella lista: E
La parola Albergo contiene 1 lettere e
La parola Sedia contiene 1 lettere e
La parola Borgo contiene 0 lettere e
La parola Petalo contiene 1 lettere e
La parola Eremo contiene 2 lettere e
La parola Belvedere contiene 4 lettere e
La parola Semestre contiene 3 lettere e
La parola Esteta contiene 2 lettere e
La parola Sosta contiene 0 lettere e
La parola Orpello contiene 1 lettere e
La parola Abete contiene 2 lettere e
La parola Orologio contiene 0 lettere e
La parola Cesta contiene 1 lettere e
La parola Ermellino contiene 2 lettere e

14.
Creiamo un dizionario che assegni ad ogni proprietario la sua auto, sapendo che:
* Ada guida una Punto
* Ben guida una Multipla
* Charlie guida una Golf
* Debbie guida una 107

Stampiamo il dizionario per intero, e poi l'auto associata a Debbie.

In [ ]:
proprietari_auto = {
    "Ada": "Punto",
    "Ben": "Multipla",
    "Charlie": "Golf",
    "Debbie": "107"
}

print(proprietari_auto)
print(proprietari_auto["Debbie"])

{'Ada': 'Punto', 'Ben': 'Multipla', 'Charlie': 'Golf', 'Debbie': '107'}
107

15.
Abbiamo un dizionario che assegna ad ogni proprietario la sua auto:

dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107"}

Con un ciclo, e usando il metodo .values(), stampiamo a video tutte le auto che non sono una Multipla.

In [ ]:
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107"}

for auto in dizionario_auto.values():
  if auto != "Multipla":
    print(auto)

Punto
Golf
107

16.
Abbiamo due dizionari che assegnano ad ogni proprietario la propria auto:

dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107", "Emily": "A1"}

nuovi_proprietari = {"Ben": "Polo", "Fred": "Octavia", "Grace": "Yaris", "Hugh": "Clio"}

Aggiornare il dizionario dizionario_auto con i dati contenuti in nuovi_proprietari e stamparlo. Cosa è successo a Ben?

In [ ]:
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107", "Emily": "A1"}

nuovi_proprietari = {"Ben": "Polo", "Fred": "Octavia", "Grace": "Yaris", "Hugh": "Clio"}

dizionario_auto.update(nuovi_proprietari)

print(dizionario_auto)

{'Ada': 'Punto', 'Ben': 'Polo', 'Charlie': 'Golf', 'Debbie': '107', 'Emily': 'A1', 'Fred': 'Octavia', 'Grace': 'Yaris', 'Hugh': 'Clio'}

17.
Scrivere un programma che, data una lista di numeri, fornisca in output il minimo e il massimo (possiamo usare o meno le funzioni built-in min() e max()).

In [ ]:
#senza funzioni built-in

lista_numeri = [10, 5, 8, 20, 15, 3, 6, 12, 25, 18]

minimo = lista_numeri[0] #init
massimo = lista_numeri[0] #init

for numero in lista_numeri:
  if numero < minimo:
    minimo = numero
  elif numero > massimo:
    massimo = numero

print("Il valore minimo è", minimo)
print("Il valore massimo è", massimo)

Il valore minimo è 3
Il valore massimo è 25

In [ ]:
#con funzioni built-in

lista_numeri = [10, 5, 8, 20, 15, 3, 6, 12, 25, 18]

print("Il valore minimo è", min(lista_numeri))
print("Il valore massimo è", max(lista_numeri))

Il valore minimo è 3
Il valore massimo è 25

18.
Scrivere un programma che, data una lista di numeri, fornisca in output i tre numeri più grandi; gestire il caso in cui la lista sia più corta di tre, e quando uno o più dei numeri selezionati sono uguali.

In [7]:
quantità = int(input("Inserire la quantità di numeri da inserire nella lista: "))
lista_numeri_iniz = [] #init - questa lista salverà in memoria la lista input iniziale
lista_numeri = [] #init

for numero in range(quantità):
  numero = int(input(f"Ancora {quantità - numero} numeri da inserire. Inserire un numero: "))
  lista_numeri_iniz.append(numero)
  lista_numeri.append(numero)
massimo = max(lista_numeri)

if len(lista_numeri) > 2:
  for numero in lista_numeri:
    if numero == massimo:
      lista_numeri.remove(numero)

  secondo_massimo = max(lista_numeri)

  for numero in lista_numeri:
    if numero == secondo_massimo:
      lista_numeri.remove(numero)

  terzo_massimo = max(lista_numeri)

  print("La lista fornita è:", lista_numeri_iniz)
  print("I tre numeri più grandi sono:", massimo, secondo_massimo, terzo_massimo)

else:
  print(f"La lista {lista_numeri_iniz} contiene meno di tre numeri")
  print("Il numero più grande è", max(lista_numeri))
  print("Il numero più piccolo è", min(lista_numeri))

Inserire la quantità di numeri da inserire nella lista: 2
Ancora 2 numeri da inserire. Inserire un numero: 10
Ancora 1 numeri da inserire. Inserire un numero: 20
La lista [10, 20] contiene meno di tre numeri
Il numero più grande è 20
Il numero più piccolo è 10

19.
Scrivere un programma che:
* in input acquisisce una lista di numeri e un numero K
* in output, dovrà restituire la media di tutti i numeri nella lista maggiori o uguali a K
* se non ce ne dovesse essere nessuno, dovrà stampare a schermo un messaggio adeguato.

In [15]:
#con ciclo for e if

quantità = int(input("Inserire la quantità di numeri da inserire nella lista: "))
lista_numeri = [] #init

for numero in range(quantità):
  numero = int(input(f"Ancora {quantità - numero} numeri da inserire. Inserire un numero: "))23
  lista_numeri.append(numero)
print("La lista fornita è:", lista_numeri)

K = int(input("Inserire un numero K: "))
somma = 0 #init
conteggio = 0 #init

for numero in lista_numeri:
  if numero >= K:
    somma += numero
    conteggio += 1

if conteggio > 0:
  media = somma / conteggio
  print("La media dei numeri maggiori o uguali a", K, "è", media)
else:
  print("Non ci sono numeri maggiori o uguali a", K, "nella lista fornita")

Inserire la quantità di numeri da inserire nella lista: 4
Ancora 4 numeri da inserire. Inserire un numero: 10
Ancora 3 numeri da inserire. Inserire un numero: 0
Ancora 2 numeri da inserire. Inserire un numero: 30
Ancora 1 numeri da inserire. Inserire un numero: 40
La lista fornita è: [10, 0, 30, 40]
Inserire un numero K: 15
La media dei numeri maggiori o uguali a 15 è 35.0

In [13]:
#con libreria numpy

import numpy as np
quantità = int(input("Inserire la quantità di numeri da inserire nella lista: "))
lista_numeri_iniz = [] #init - questa lista salverà in memoria la lista input iniziale

for numero in range(quantità):
  numero = int(input(f"Ancora {quantità - numero} numeri da inserire. Inserire un numero: "))
  lista_numeri_iniz.append(numero)
print("La lista fornita è:", lista_numeri_iniz)

lista_numeri = np.array(lista_numeri_iniz) #casting

K = int(input("Inserire un numero K: "))

maggiori_K = lista_numeri[lista_numeri >= K] #masking

if len(maggiori_K) > 0:
  media = np.mean(maggiori_K)
  print("La media dei numeri maggiori o uguali a", K, "è", media)
else:
  print("Non ci sono numeri maggiori o uguali a", K, "nella lista fornita")

Inserire la quantità di numeri da inserire nella lista: 7
Ancora 7 numeri da inserire. Inserire un numero: 18
Ancora 6 numeri da inserire. Inserire un numero: 25
Ancora 5 numeri da inserire. Inserire un numero: 17
Ancora 4 numeri da inserire. Inserire un numero: 30
Ancora 3 numeri da inserire. Inserire un numero: 16
Ancora 2 numeri da inserire. Inserire un numero: 23
Ancora 1 numeri da inserire. Inserire un numero: 28
La lista fornita è: [18, 25, 17, 30, 16, 23, 28]
Inserire un numero K: 18
La media dei numeri maggiori o uguali a 18 è 24.8

20.
Scrivere un programma che, data una lista di numeri, come output stamperà lo stesso numero di asterischi su righe diverse, ottenendo una semplice visualizzazione grafica.

In [18]:
quantità = int(input("Inserire la quantità di numeri da inserire nella lista: "))
lista_numeri = [] #init

for numero in range(quantità):
  numero = int(input(f"Ancora {quantità - numero} numeri da inserire. Inserire un numero: "))
  lista_numeri.append(numero)
print("La lista fornita è:", lista_numeri)

for numero in lista_numeri:
  print(numero * "*", numero)

Inserire la quantità di numeri da inserire nella lista: 3
Ancora 3 numeri da inserire. Inserire un numero: 20
Ancora 2 numeri da inserire. Inserire un numero: 24
Ancora 1 numeri da inserire. Inserire un numero: 31
La lista fornita è: [20, 24, 31]
******************** 20
************************ 24
******************************* 31

21.
Abbiamo una lista di codici fiscali:

lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"]

* trovare i codici fiscali che contengono "95", metterli in una lista, e alla fine stamparla

* inoltre, per ognuno di essi, stampare a video i caratteri relativi al nome e quelli relativi al cognome

In [21]:
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"]
lista_95 = []

for cf in lista_cf:
  if "95" in cf:
    lista_95.append(cf)

print("I codici fiscali che contengono '95' sono:", lista_95)

for cf in lista_95:
  print("I caratteri relativi al nome sono", cf[0:3], "e i caratteri relativi al cognome sono", cf[3:6])

I codici fiscali che contengono '95' sono: ['ABCDEF95G01A123B', 'STUVWX95Z04A654E', 'DEFGHI95J06A987G']
I caratteri relativi al nome sono ABC e i caratteri relativi al cognome sono DEF
I caratteri relativi al nome sono STU e i caratteri relativi al cognome sono VWX
I caratteri relativi al nome sono DEF e i caratteri relativi al cognome sono GHI

22.
Abbiamo tre liste della stessa lunghezza, dove ogni elemento nella medesima posizione si riferisce ai dati dello stesso studente:

studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]

corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"]

edizioni = [1, 2, 3, 2, 2, 1, 3, 3]

* Stampare a video tutti e soli gli studenti che frequentano una prima edizione; non tutti i dati potrebbero essere necessari.

* Riuscite a vedere una similarità con la logica che si usa in SQL e le tabelle relazionali?

In [25]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]

corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"]

edizioni = [1, 2, 3, 2, 2, 1, 3, 3]

print("Gli studenti che frequentano una prima edizione e i corsi a cui sono iscritti sono:")
for i in range(len(studenti)):
  if edizioni[i] == 1:
    print(studenti[i], "-", corsi[i])

Gli studenti che frequentano una prima edizione e i corsi a cui sono iscritti sono:
Alex - Cybersecurity
Faith - Backend

23.
Abbiamo una lista di stringhe di prezzi in dollari, che erroneamente sono stati scritti con il simbolo dell'euro:

prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"]

Cambiare il simbolo dell'euro (€) in quello del dollaro ($) per ogni stringa nella lista; il risultato sarà memorizzato in un'altra lista.

In [26]:
prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"]
prezzi_dollari = [] #init

for prezzo in prezzi:
  prezzo_dollaro = prezzo.replace("€", "$")
  prezzi_dollari.append(prezzo_dollaro)

print("I prezzi in dollari sono:", prezzi_dollari)

I prezzi in dollari sono: ['100 $', '200 $', '500 $', '10 $', '50 $', '70 $']

24.
Abbiamo una lista di studenti:

studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]

Vogliamo dividere gli studenti in due squadre per un campionato di Uno nel seguente modo:

selezioneremo i nomi in posizione pari per un squadra, e i nomi in posizione dispari per l'altra. Creiamo due liste per ogni squadra, e alla fine visualizziamole.

In [28]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]
squadra1 = [] #init
squadra2 = [] #init

for i in range(len(studenti)):
  if i % 2 == 0:
    squadra1.append(studenti[i])
  else:
    squadra2.append(studenti[i])

print("La squadra 1 è composta da:", squadra1)
print("La squadra 2 è composta da:", squadra2)

La squadra 1 è composta da: ['Alex', 'Cindy', 'Emma', 'Grace', 'Isabelle']
La squadra 2 è composta da: ['Bob', 'Dan', 'Faith', 'Henry', 'John']

25.
Abbiamo una lista con i guadagni degli ultimi 12 mesi (supponiamo da Gennaio a Dicembre):

guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]

Dobbiamo confrontare, stampando tutto a video, il guadagno di ogni mese con la media dei guadagni precedenti, e specificare nell'output se il guadagno attuale è maggiore o minore della media dei precedenti.

In [40]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]

for i in range(len(guadagni)):
  if i == 0:
    print("Il guadagno del mese" , i+1 ,  "è di €", guadagni[i], "ed è maggiore della media dei precedenti guadagni ovvero €", i)
  else:
    media_precedenti = sum(guadagni[:i]) / i
    if guadagni[i] > media_precedenti:
      print("Il guadagno del mese" , i+1 ,  "è di €", guadagni[i], "ed è maggiore della media dei precedenti guadagni ovvero €", media_precedenti)
    elif guadagni[i] < media_precedenti:
      print("Il guadagno del mese" , i+1 ,  "è di €", guadagni[i], "ed è minore della media dei precedenti guadagni ovvero €", media_precedenti)
    else:
      print("Il guadagno del mese" , i+1 ,  "è di €", guadagni[i], "ed è uguale alla media dei precedenti guadagni ovvero €", media_precedenti)

Il guadagno del mese 1 è di € 100 ed è maggiore della media dei precedenti guadagni ovvero € 0
Il guadagno del mese 2 è di € 90 ed è minore della media dei precedenti guadagni ovvero € 100.0
Il guadagno del mese 3 è di € 70 ed è minore della media dei precedenti guadagni ovvero € 95.0
Il guadagno del mese 4 è di € 40 ed è minore della media dei precedenti guadagni ovvero € 86.66666666666667
Il guadagno del mese 5 è di € 50 ed è minore della media dei precedenti guadagni ovvero € 75.0
Il guadagno del mese 6 è di € 80 ed è maggiore della media dei precedenti guadagni ovvero € 70.0
Il guadagno del mese 7 è di € 90 ed è maggiore della media dei precedenti guadagni ovvero € 71.66666666666667
Il guadagno del mese 8 è di € 120 ed è maggiore della media dei precedenti guadagni ovvero € 74.28571428571429
Il guadagno del mese 9 è di € 80 ed è uguale alla media dei precedenti guadagni ovvero € 80.0
Il guadagno del mese 10 è di € 20 ed è minore della media dei precedenti guadagni ovvero € 80.0
Il guadagno del mese 11 è di € 50 ed è minore della media dei precedenti guadagni ovvero € 74.0
Il guadagno del mese 12 è di € 50 ed è minore della media dei precedenti guadagni ovvero € 71.81818181818181