1.
Abbiamo una lista di liste:

mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]

Che tipo di struttura dati o matematica potrebbe rappresentare? Notare che tutte le liste "interne" sono della stessa dimensione.

Come facciamo per accedere ad un elemento in particolare?

In [4]:
#Questa lista di liste, essendo formata da liste che hanno lo stesso numero di elementi potrebbe rappresentare una matrice o tabella.

#Per accedere ad un elemento possiamo usare l'indexing. Ad esempio:

mat = [[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [10, 11, 12, 13, 14]]

print(mat[0]) #per accedere ad una lista della matrice

print(mat[0][0]) #per accedere ad un elemento della lista della matrice

[0, 1, 2, 3, 4]
0

Importiamo il modulo math e proviamo a usare le funzioni

* .sin()

* .cos()

* .factorial()

e la variabile .pi la riconoscete?

In [17]:
import math

print(math.pi)
print(math.sin(math.pi/2))
print(math.sin(math.radians(90)))
print(math.cos(math.pi))
print(math.factorial(10))

3.141592653589793
1.0
1.0
-1.0
3628800

Proviamo a eseguire

* math.degrees(math.pi)

Qual è e cosa significa il risultato? Per saperne di più su questa funzione possiamo usare help(math.degrees)

In [24]:
print(math.pi)
print(math.degrees(math.pi))
print(math.radians(180))
print("---")
help(math.degrees)
print("---")
help(math.radians)

3.141592653589793
180.0
3.141592653589793
---
Help on built-in function degrees in module math:

degrees(x, /)
    Convert angle x from radians to degrees.

---
Help on built-in function radians in module math:

radians(x, /)
    Convert angle x from degrees to radians.

L'azienda Object SpA ha creato una lista di quanti oggetti ha venduto ogni mese nell'ultimo anno:

lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]

Trasformiamola in un array NumPy (casting):

* lst = np.array(lst)

e rispondiamo alle domande del CEO della Object SpA:
* qual è stata la vendita massima mensile? E quella minima?
* quali sono le vendite mensili maggiori di 4999 oggetti? E quante ne sono?
* quali sono le vendite minori di 3000 oggetti?

In [32]:
import numpy as np

lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]

lst = np.array(lst) #casting

print("Vendita massima mensile:", lst.max())
print("Vendita minima mensile:", lst.min())
print("La lista delle vendite mensili maggiori di 4999 oggetti è:", lst[lst > 4999])
print("Numero di mesi con vendita maggiore di 4999 oggetti:", (lst > 4999).sum())
print("La lista delle vendite mensili minori di 3000 oggetti è:", lst[lst < 3000])
print("Numero di mesi con vendita minore di 3000 oggetti:", (lst < 3000).sum())
print("La media delle vendite mensili è:", round(lst.mean(), 2))

Vendita massima mensile: 8150
Vendita minima mensile: 1280
La lista delle vendite mensili maggiori di 4999 oggetti è: [5500 7200 6410 8150 7100 5350]
Numero di mesi con vendita maggiore di 4999 oggetti: 6
La lista delle vendite mensili minori di 3000 oggetti è: [2000 1280 1900 2500]
Numero di mesi con vendita minore di 3000 oggetti: 4
La media delle vendite mensili è: 4634.17

Consideriamo il seguente dizionario:

* fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}

Consideriamo ora la seguente Series:

* fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2005))

Possiamo accedere alle stesse informazioni nello stesso modo:
* fatturati_dict[1997]
* fatturati_series[1997]

Dunque qual è la differenza tra i due tipi di dato?

In [35]:
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}
print(fatturati_dict[1997])
print("Un dizionario è una struttura dati che associa coppie chiave-valore. È una collezione mutabile e non ordinata di elementi.")

import pandas as pd
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2005))
print(fatturati_series[1997])
print("Il tipo di dato Series è un array monodimensionale indicizzato, il cui indice può essere sia numerico che categorico (cioè rappresentato da una stringa).")

12000
Un dizionario è una struttura dati che associa coppie chiave-valore. È una collezione mutabile e non ordinata di elementi.
12000
Il tipo di dato Series è un array monodimensionale indicizzato, il cui indice può essere sia numerico che categorico (cioè rappresentato da una stringa).

L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti, memorizzato in un ndarray:

import numpy as np

stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] )

L'azienda ci chiede di raddoppiare tutti gli stipendi; facciamolo in due modi:
* con un ciclo for
* con il masking

In [37]:
import numpy as np

stipendi = np.array( [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000] )
stipendi_raddoppiati = [] #init

# con ciclo for
for stipendio in stipendi:
    stipendi_raddoppiati.append(stipendio * 2)
stipendi_raddoppiati = np.array(stipendi_raddoppiati)
print("La lista degli stipendi raddoppiati è:", stipendi_raddoppiati)

# con masking
stipendi_raddoppiati = stipendi * 2
print("La lista degli stipendi raddoppiati è:", stipendi_raddoppiati)

La lista degli stipendi raddoppiati è: [ 200  400  600  800 1000 1200 1400 1600 1800 2000]
La lista degli stipendi raddoppiati è: [ 200  400  600  800 1000 1200 1400 1600 1800 2000]