In [1]:
%run Creazione_AdventureWorks.ipynb

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 2.0 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Collecting python-dotenv
  Downloading python_dotenv-1.0.1-py3-none-any.whl.metadata (23 kB)
Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.1
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Esercizio Dal database AdventureWorks estraiamo la tabella dimproduct:
* Sulla colonna DealerPrice, utilizzando il metodo .round(), arrotondiamo i valori alle due cifre decimali, e poi al valore intero più vicino
* Utilizzando il metodo .clip(), facciamo in modo che i valori siano compresi tra un minimo di 0 e un massimo di 1000

In [2]:
# estraiamo la tabella dimproduct

dp_query = "SELECT * FROM dimproduct"
dp = pd.read_sql(dp_query, conn_string)
dp

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [3]:
# Sulla colonna DealerPrice, utilizzando il metodo .round(), arrotondiamo i valori alle due cifre decimali

dp['DealerPrice'].round(2)

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
601     60.74
602     72.89
603    323.99
604    323.99
605    323.99
Name: DealerPrice, Length: 606, dtype: float64

In [4]:
# e poi al valore intero più vicino

dp['DealerPrice'].round(0)

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
       ...
601     61.0
602     73.0
603    324.0
604    324.0
605    324.0
Name: DealerPrice, Length: 606, dtype: float64

In [5]:
# Utilizzando il metodo .clip(), facciamo in modo che i valori siano compresi tra un minimo di 0 e un massimo di 1000

dp['DealerPrice'].clip(lower = 0, upper = 1000)

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
        ...
601     60.744
602     72.894
603    323.994
604    323.994
605    323.994
Name: DealerPrice, Length: 606, dtype: float64

Esercizio Creiamo un DataFrame sintetico, che contiene i guadagni mensili di diverse annate, con il seguente codice:

years = 5

a = pd.DataFrame({"Mese": list("GFMAMGLASOND" * years),                "Anno": np.repeat(list(range(years)), 12),                "Guadagni": np.random.randint(800, 5000, 12 * years)})
* Calcola la somma cumulativa delle vendite per ogni mese utilizzando il metodo .cumsum()
* Come sopra, ma diviso per ogni anno

In [6]:
# creazione DataFrame

import numpy as np

years = 5

a = pd.DataFrame({"Mese": list("GFMAMGLASOND" * years), "Anno": np.repeat(list(range(years)), 12), "Guadagni": np.random.randint(800, 5000, 12 * years)})
a

   Mese  Anno  Guadagni
0     G     0      1313
1     F     0      4360
2     M     0      2771
3     A     0      2779
4     M     0      3858
5     G     0       918
6     L     0      3486
7     A     0      4148
8     S     0      3872
9     O     0      4712
10    N     0      4103
11    D     0      2114
12    G     1      4418
13    F     1      1390
14    M     1      1921
15    A     1      4047
16    M     1      1082
17    G     1       961
18    L     1      1140
19    A     1      1463
20    S     1      2521
21    O     1      2262
22    N     1      1072
23    D     1      4744
24    G     2      4895
25    F     2      2794
26    M     2      2201
27    A     2      2451
28    M     2      1263
29    G     2      1059
30    L     2      2787
31    A     2      1591
32    S     2      1513
33    O     2      4744
34    N     2      2586
35    D     2      3610
36    G     3      4082
37    F     3      3555
38    M     3      1077
39    A     3      3579
40    M     3      3660
41    G     3      4614
42    L     3      2923
43    A     3      2426
44    S     3      2500
45    O     3      1447
46    N     3      1527
47    D     3      1459
48    G     4      2472
49    F     4      3393
50    M     4      3284
51    A     4      4487
52    M     4      1882
53    G     4      3626
54    L     4      3965
55    A     4      2579
56    S     4      4050
57    O     4      1570
58    N     4      1470
59    D     4      2504

In [7]:
# Calcola la somma cumulativa delle vendite per ogni mese utilizzando il metodo .cumsum()

a['SomCumMese'] = a['Guadagni'].cumsum()
a

   Mese  Anno  Guadagni  SomCumMese
0     G     0      1313        1313
1     F     0      4360        5673
2     M     0      2771        8444
3     A     0      2779       11223
4     M     0      3858       15081
5     G     0       918       15999
6     L     0      3486       19485
7     A     0      4148       23633
8     S     0      3872       27505
9     O     0      4712       32217
10    N     0      4103       36320
11    D     0      2114       38434
12    G     1      4418       42852
13    F     1      1390       44242
14    M     1      1921       46163
15    A     1      4047       50210
16    M     1      1082       51292
17    G     1       961       52253
18    L     1      1140       53393
19    A     1      1463       54856
20    S     1      2521       57377
21    O     1      2262       59639
22    N     1      1072       60711
23    D     1      4744       65455
24    G     2      4895       70350
25    F     2      2794       73144
26    M     2      2201       75345
27    A     2      2451       77796
28    M     2      1263       79059
29    G     2      1059       80118
30    L     2      2787       82905
31    A     2      1591       84496
32    S     2      1513       86009
33    O     2      4744       90753
34    N     2      2586       93339
35    D     2      3610       96949
36    G     3      4082      101031
37    F     3      3555      104586
38    M     3      1077      105663
39    A     3      3579      109242
40    M     3      3660      112902
41    G     3      4614      117516
42    L     3      2923      120439
43    A     3      2426      122865
44    S     3      2500      125365
45    O     3      1447      126812
46    N     3      1527      128339
47    D     3      1459      129798
48    G     4      2472      132270
49    F     4      3393      135663
50    M     4      3284      138947
51    A     4      4487      143434
52    M     4      1882      145316
53    G     4      3626      148942
54    L     4      3965      152907
55    A     4      2579      155486
56    S     4      4050      159536
57    O     4      1570      161106
58    N     4      1470      162576
59    D     4      2504      165080

In [8]:
# Come sopra, ma diviso per ogni anno

a['SomCumAnno'] = a.groupby(['Anno'])['Guadagni'].cumsum()
a

   Mese  Anno  Guadagni  SomCumMese  SomCumAnno
0     G     0      1313        1313        1313
1     F     0      4360        5673        5673
2     M     0      2771        8444        8444
3     A     0      2779       11223       11223
4     M     0      3858       15081       15081
5     G     0       918       15999       15999
6     L     0      3486       19485       19485
7     A     0      4148       23633       23633
8     S     0      3872       27505       27505
9     O     0      4712       32217       32217
10    N     0      4103       36320       36320
11    D     0      2114       38434       38434
12    G     1      4418       42852        4418
13    F     1      1390       44242        5808
14    M     1      1921       46163        7729
15    A     1      4047       50210       11776
16    M     1      1082       51292       12858
17    G     1       961       52253       13819
18    L     1      1140       53393       14959
19    A     1      1463       54856       16422
20    S     1      2521       57377       18943
21    O     1      2262       59639       21205
22    N     1      1072       60711       22277
23    D     1      4744       65455       27021
24    G     2      4895       70350        4895
25    F     2      2794       73144        7689
26    M     2      2201       75345        9890
27    A     2      2451       77796       12341
28    M     2      1263       79059       13604
29    G     2      1059       80118       14663
30    L     2      2787       82905       17450
31    A     2      1591       84496       19041
32    S     2      1513       86009       20554
33    O     2      4744       90753       25298
34    N     2      2586       93339       27884
35    D     2      3610       96949       31494
36    G     3      4082      101031        4082
37    F     3      3555      104586        7637
38    M     3      1077      105663        8714
39    A     3      3579      109242       12293
40    M     3      3660      112902       15953
41    G     3      4614      117516       20567
42    L     3      2923      120439       23490
43    A     3      2426      122865       25916
44    S     3      2500      125365       28416
45    O     3      1447      126812       29863
46    N     3      1527      128339       31390
47    D     3      1459      129798       32849
48    G     4      2472      132270        2472
49    F     4      3393      135663        5865
50    M     4      3284      138947        9149
51    A     4      4487      143434       13636
52    M     4      1882      145316       15518
53    G     4      3626      148942       19144
54    L     4      3965      152907       23109
55    A     4      2579      155486       25688
56    S     4      4050      159536       29738
57    O     4      1570      161106       31308
58    N     4      1470      162576       32778
59    D     4      2504      165080       35282

Esercizio 1/2

Dal database AdventureWorks estraiamo la tabella dimcustomer
* Trasformiamo i nomi dei clienti in modo che abbiano solo lettere minuscole, e i cognomi in modo che abbiano solo lettere maiuscole
* Sulla colonna EmailAddress, utilizzando il metodo .str.split(), estraiamo nome utente e dominio
* Sulla colonna Phone, estraiamo ogni parte del numero (ad es. da "1 (11) 500 555-0162" a ["1", "(11)", "500", "555-0162"])
* Utilizzando il metodo .str.contains(), estraiamo tutti gli indirizzi e-mail che contengono il numero "21"

In [9]:
#estraiamo la tabella dimcustomer

dc_query = "SELECT * FROM dimcustomer"
dc = pd.read_sql(dc_query, conn_string)
dc

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000,26,AW00011000,None,Jon,V,Yang,0,1971-10-06,M,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,None,1 (11) 500 555-0162,2011-01-19,1-2 Miles
1,11001,37,AW00011001,None,Eugene,L,Huang,0,1976-05-10,S,...,Professional,Profesional,Cadre,0,1,2243 W St.,None,1 (11) 500 555-0110,2011-01-15,0-1 Miles
2,11002,31,AW00011002,None,Ruben,None,Torres,0,1971-02-09,M,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,None,1 (11) 500 555-0184,2011-01-07,2-5 Miles
3,11003,11,AW00011003,None,Christy,None,Zhu,0,1973-08-14,S,...,Professional,Profesional,Cadre,0,1,1825 Village Pl.,None,1 (11) 500 555-0162,2010-12-29,5-10 Miles
4,11004,19,AW00011004,None,Elizabeth,None,Johnson,0,1979-08-05,S,...,Professional,Profesional,Cadre,1,4,7553 Harness Circle,None,1 (11) 500 555-0131,2011-01-23,1-2 Miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,29479,209,AW00029479,None,Tommy,L,Tang,0,1969-06-30,M,...,Clerical,Administrativo,Employé,1,0,"111, rue Maillard",None,1 (11) 500 555-0136,2012-09-04,0-1 Miles
18480,29480,248,AW00029480,None,Nina,W,Raji,0,1977-05-06,S,...,Clerical,Administrativo,Employé,1,0,9 Katherine Drive,None,1 (11) 500 555-0146,2013-07-17,0-1 Miles
18481,29481,120,AW00029481,None,Ivan,None,Suri,0,1965-07-04,S,...,Clerical,Administrativo,Employé,0,0,Knaackstr 4,None,1 (11) 500 555-0144,2011-08-13,0-1 Miles
18482,29482,179,AW00029482,None,Clayton,None,Zhang,0,1964-09-01,M,...,Clerical,Administrativo,Employé,1,0,"1080, quai de Grenelle",None,1 (11) 500 555-0137,2012-09-18,0-1 Miles
18483,29483,217,AW00029483,None,Jésus,L,Navarro,0,1965-06-06,M,...,Clerical,Administrativo,Employé,1,0,"244, rue de la Centenaire",None,1 (11) 500 555-0141,2012-09-09,0-1 Miles

In [10]:
# Trasformiamo i nomi dei clienti in modo che abbiano solo lettere minuscole, e i cognomi in modo che abbiano solo lettere maiuscole

dc['FirstName'] = dc['FirstName'].str.lower()
dc['LastName'] = dc['LastName'].str.upper()
dc

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000,26,AW00011000,None,jon,V,YANG,0,1971-10-06,M,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,None,1 (11) 500 555-0162,2011-01-19,1-2 Miles
1,11001,37,AW00011001,None,eugene,L,HUANG,0,1976-05-10,S,...,Professional,Profesional,Cadre,0,1,2243 W St.,None,1 (11) 500 555-0110,2011-01-15,0-1 Miles
2,11002,31,AW00011002,None,ruben,None,TORRES,0,1971-02-09,M,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,None,1 (11) 500 555-0184,2011-01-07,2-5 Miles
3,11003,11,AW00011003,None,christy,None,ZHU,0,1973-08-14,S,...,Professional,Profesional,Cadre,0,1,1825 Village Pl.,None,1 (11) 500 555-0162,2010-12-29,5-10 Miles
4,11004,19,AW00011004,None,elizabeth,None,JOHNSON,0,1979-08-05,S,...,Professional,Profesional,Cadre,1,4,7553 Harness Circle,None,1 (11) 500 555-0131,2011-01-23,1-2 Miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,29479,209,AW00029479,None,tommy,L,TANG,0,1969-06-30,M,...,Clerical,Administrativo,Employé,1,0,"111, rue Maillard",None,1 (11) 500 555-0136,2012-09-04,0-1 Miles
18480,29480,248,AW00029480,None,nina,W,RAJI,0,1977-05-06,S,...,Clerical,Administrativo,Employé,1,0,9 Katherine Drive,None,1 (11) 500 555-0146,2013-07-17,0-1 Miles
18481,29481,120,AW00029481,None,ivan,None,SURI,0,1965-07-04,S,...,Clerical,Administrativo,Employé,0,0,Knaackstr 4,None,1 (11) 500 555-0144,2011-08-13,0-1 Miles
18482,29482,179,AW00029482,None,clayton,None,ZHANG,0,1964-09-01,M,...,Clerical,Administrativo,Employé,1,0,"1080, quai de Grenelle",None,1 (11) 500 555-0137,2012-09-18,0-1 Miles
18483,29483,217,AW00029483,None,jésus,L,NAVARRO,0,1965-06-06,M,...,Clerical,Administrativo,Employé,1,0,"244, rue de la Centenaire",None,1 (11) 500 555-0141,2012-09-09,0-1 Miles

In [11]:
# Sulla colonna EmailAddress, utilizzando il metodo .str.split(), estraiamo nome utente e dominio

dc['NomeUtente'] = dc['EmailAddress'].str.split('@', expand = True)[0]
dc['Dominio'] = dc['EmailAddress'].str.split('@', expand = True)[1]
dc[['EmailAddress', 'NomeUtente', 'Dominio']]

                         EmailAddress  NomeUtente              Dominio
0           jon24@adventure-works.com       jon24  adventure-works.com
1        eugene10@adventure-works.com    eugene10  adventure-works.com
2         ruben35@adventure-works.com     ruben35  adventure-works.com
3       christy12@adventure-works.com   christy12  adventure-works.com
4      elizabeth5@adventure-works.com  elizabeth5  adventure-works.com
...                               ...         ...                  ...
18479      tommy2@adventure-works.com      tommy2  adventure-works.com
18480      nina21@adventure-works.com      nina21  adventure-works.com
18481       ivan0@adventure-works.com       ivan0  adventure-works.com
18482    clayton0@adventure-works.com    clayton0  adventure-works.com
18483      jésus9@adventure-works.com      jésus9  adventure-works.com

[18484 rows x 3 columns]

In [12]:
# Sulla colonna Phone, estraiamo ogni parte del numero (ad es. da "1 (11) 500 555-0162" a ["1", "(11)", "500", "555-0162"])

dc['Phone'].str.split(' ', expand = True)

       0     1    2         3
0      1  (11)  500  555-0162
1      1  (11)  500  555-0110
2      1  (11)  500  555-0184
3      1  (11)  500  555-0162
4      1  (11)  500  555-0131
...   ..   ...  ...       ...
18479  1  (11)  500  555-0136
18480  1  (11)  500  555-0146
18481  1  (11)  500  555-0144
18482  1  (11)  500  555-0137
18483  1  (11)  500  555-0141

[18484 rows x 4 columns]

In [13]:
# Utilizzando il metodo .str.contains(), estraiamo tutti gli indirizzi e-mail che contengono il numero "21"

dc[dc['EmailAddress'].str.contains('21')]['EmailAddress']

64          chase21@adventure-works.com
118         alvin21@adventure-works.com
130      caroline21@adventure-works.com
163       gabriel21@adventure-works.com
203          luis21@adventure-works.com
                      ...
18337      hector21@adventure-works.com
18365      cheryl21@adventure-works.com
18435     stanley21@adventure-works.com
18440      rafael21@adventure-works.com
18480        nina21@adventure-works.com
Name: EmailAddress, Length: 431, dtype: object

Esercizio 2/2
* Estraiamo tutti gli indirizzi e-mail che contengono il numero "20" oppure il numero "10"
* Calcolare la lunghezza di ogni indirizzo e-mail ed estrarre i dieci più lunghi e i dieci più corti
* Modificare il dominio degli indirizzi e-mail da "adventure-works.com" a "aw-db.com" mediante il metodo .str.replace()
* Dalla colonna AddressLine1 estraiamo tutti gli indirizzi che contengono la sottostringa "Street"

In [14]:
# Estraiamo tutti gli indirizzi e-mail che contengono il numero "20" oppure il numero "10"

dc[(dc['EmailAddress'].str.contains('20')) | (dc['EmailAddress'].str.contains('10'))]['EmailAddress']

1            eugene10@adventure-works.com
10        jacquelyn20@adventure-works.com
22            ethan20@adventure-works.com
30          bethany10@adventure-works.com
32           denise10@adventure-works.com
                       ...
18395         lydia10@adventure-works.com
18397        walter10@adventure-works.com
18415         oscar20@adventure-works.com
18418       lindsey10@adventure-works.com
18428    kristopher20@adventure-works.com
Name: EmailAddress, Length: 1042, dtype: object

In [15]:
# Calcolare la lunghezza di ogni indirizzo e-mail ed estrarre i dieci più lunghi

dc['LunghezzaEmail'] = dc['EmailAddress'].str.len()
dc.sort_values('LunghezzaEmail', ascending = False)[['EmailAddress', 'LunghezzaEmail']].head(10)

                            EmailAddress  LunghezzaEmail
9242   christopher11@adventure-works.com              33
2655   christopher23@adventure-works.com              33
14964  christopher26@adventure-works.com              33
3512   christopher27@adventure-works.com              33
17017  christopher15@adventure-works.com              33
13417  christopher14@adventure-works.com              33
10233  christopher24@adventure-works.com              33
16661  christopher17@adventure-works.com              33
1767   christopher18@adventure-works.com              33
8768   christopher12@adventure-works.com              33

In [16]:
 # e i dieci più corti

 dc.sort_values('LunghezzaEmail', ascending = True)[['EmailAddress', 'LunghezzaEmail']].head(10)

                   EmailAddress  LunghezzaEmail
3974     k0@adventure-works.com              22
15299    y0@adventure-works.com              22
1658   joy2@adventure-works.com              24
550    deb4@adventure-works.com              24
13888  roy9@adventure-works.com              24
6264   ian1@adventure-works.com              24
2326   bob8@adventure-works.com              24
13825  zoe3@adventure-works.com              24
215    ana7@adventure-works.com              24
11213  jay9@adventure-works.com              24

In [17]:
# Modificare il dominio degli indirizzi e-mail da "adventure-works.com" a "aw-db.com" mediante il metodo .str.replace()

dc['EmailAddress'].str.replace('adventure-works.com', 'aw-db.com')

#se volessi sovrascrivere la colonna del dataset
# dc['EmailAddress'] = dc['EmailAddress'].str.replace('adventure-works.com', 'aw-db.com')

0             jon24@aw-db.com
1          eugene10@aw-db.com
2           ruben35@aw-db.com
3         christy12@aw-db.com
4        elizabeth5@aw-db.com
                 ...
18479        tommy2@aw-db.com
18480        nina21@aw-db.com
18481         ivan0@aw-db.com
18482      clayton0@aw-db.com
18483        jésus9@aw-db.com
Name: EmailAddress, Length: 18484, dtype: object

In [18]:
# Dalla colonna AddressLine1 estraiamo tutti gli indirizzi che contengono la sottostringa "Street"

dc[dc['AddressLine1'].str.contains('Street')]['AddressLine1']

7              942 Brook Street
12            4785 Scott Street
32           626 Bentley Street
63           4927 Virgil Street
125          8481 Zartop Street
                  ...
18273        2155 Zartop Street
18292         3931 Scott Street
18323    134 Peachwillow Street
18333       1023 Hawkins Street
18351          8618 Rose Street
Name: AddressLine1, Length: 512, dtype: object

Esercizio 1/2

Dai beginner_datasets carichiamo in un DataFrame il file facebook.csv, che contiene dei post con data di pubblicazione, tipo (foto, video, …) e numero di reactions raccolte:
* Con la funzione pd.to_datetime() convertiamo la colonna status_published in formato Timestamp
* Utilizzando il metodo .df.strftime(), formatta le date delle pubblicazioni in un formato specifico (ad esempio, "%Y-%m-%d %H:%M:%S")
* Utilizzando gli attributi .dt.year , .dt.month , .dt.day , .dt.dayofweek , .dt.dayofyear, ottieniamo informazioni specifiche sulle date delle transazioni, come l'anno, il mese, il giorno della settimana, il giorno dell'anno, ecc.

In [19]:
#importiamo il dataset

fb = pd.read_csv('/content/drive/MyDrive/PYTHON/beginner_datasets/facebook.csv')
fb

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,246675545449582_1649696485147474,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0
1,246675545449582_1649426988507757,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0
2,246675545449582_1648730588577397,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0
3,246675545449582_1648576705259452,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0
4,246675545449582_1645700502213739,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
7045,1050855161656896_1061863470556065,photo,9/24/2016 2:58,89,0,0,89,0,0,0,0,0
7046,1050855161656896_1061334757275603,photo,9/23/2016 11:19,16,0,0,14,1,0,1,0,0
7047,1050855161656896_1060126464063099,photo,9/21/2016 23:03,2,0,0,1,1,0,0,0,0
7048,1050855161656896_1058663487542730,photo,9/20/2016 0:43,351,12,22,349,2,0,0,0,0
7049,1050855161656896_1050858841656528,photo,9/10/2016 10:30,17,0,0,17,0,0,0,0,0

In [20]:
# Con la funzione pd.to_datetime() convertiamo la colonna status_published in formato Timestamp

fb['status_published'] = pd.to_datetime(fb['status_published'])

fb['status_published']

0      2018-04-22 06:00:00
1      2018-04-21 22:45:00
2      2018-04-21 06:17:00
3      2018-04-21 02:29:00
4      2018-04-18 03:22:00
               ...
7045   2016-09-24 02:58:00
7046   2016-09-23 11:19:00
7047   2016-09-21 23:03:00
7048   2016-09-20 00:43:00
7049   2016-09-10 10:30:00
Name: status_published, Length: 7050, dtype: datetime64[ns]

In [21]:
# Utilizzando il metodo .df.strftime(), formatta le date delle pubblicazioni in un formato specifico (ad esempio, "%Y-%m-%d %H:%M:%S")


# formato "%Y-%m-%d %H:%M:%S"
fb['status_published'].dt.strftime("%Y-%m-%d %H:%M:%S")

0       2018-04-22 06:00:00
1       2018-04-21 22:45:00
2       2018-04-21 06:17:00
3       2018-04-21 02:29:00
4       2018-04-18 03:22:00
               ...
7045    2016-09-24 02:58:00
7046    2016-09-23 11:19:00
7047    2016-09-21 23:03:00
7048    2016-09-20 00:43:00
7049    2016-09-10 10:30:00
Name: status_published, Length: 7050, dtype: object

In [22]:
#formato con nome del giorno della settimana e data estesa
fb['status_published'].dt.strftime("%A, %d %B %Y - %H:%M:%S")

0              Sunday, 22 April 2018 - 06:00:00
1            Saturday, 21 April 2018 - 22:45:00
2            Saturday, 21 April 2018 - 06:17:00
3            Saturday, 21 April 2018 - 02:29:00
4           Wednesday, 18 April 2018 - 03:22:00
                         ...
7045     Saturday, 24 September 2016 - 02:58:00
7046       Friday, 23 September 2016 - 11:19:00
7047    Wednesday, 21 September 2016 - 23:03:00
7048      Tuesday, 20 September 2016 - 00:43:00
7049     Saturday, 10 September 2016 - 10:30:00
Name: status_published, Length: 7050, dtype: object

In [23]:
fb['status_published'].dt.strftime("%c")

0       Sun Apr 22 06:00:00 2018
1       Sat Apr 21 22:45:00 2018
2       Sat Apr 21 06:17:00 2018
3       Sat Apr 21 02:29:00 2018
4       Wed Apr 18 03:22:00 2018
                  ...
7045    Sat Sep 24 02:58:00 2016
7046    Fri Sep 23 11:19:00 2016
7047    Wed Sep 21 23:03:00 2016
7048    Tue Sep 20 00:43:00 2016
7049    Sat Sep 10 10:30:00 2016
Name: status_published, Length: 7050, dtype: object

In [24]:
# Utilizzando gli attributi .dt.year , .dt.month , .dt.day , .dt.dayofweek , .dt.dayofyear, ottieniamo informazioni specifiche sulle date delle transazioni, come l'anno, il mese, il giorno della settimana, il giorno dell'anno, ecc.

pub_date_info = pd.DataFrame()
pub_date_info['Anno'] = fb['status_published'].dt.year
pub_date_info['Mese'] = fb['status_published'].dt.month
pub_date_info['Giorno'] = fb['status_published'].dt.day
pub_date_info['GiornoSettimana'] = fb['status_published'].dt.dayofweek
pub_date_info['GiornoSettimanaNome'] = fb['status_published'].dt.day_name()
pub_date_info['GiornoAnno'] = fb['status_published'].dt.dayofyear
pub_date_info

      Anno  Mese  Giorno  GiornoSettimana GiornoSettimanaNome  GiornoAnno
0     2018     4      22                6              Sunday         112
1     2018     4      21                5            Saturday         111
2     2018     4      21                5            Saturday         111
3     2018     4      21                5            Saturday         111
4     2018     4      18                2           Wednesday         108
...    ...   ...     ...              ...                 ...         ...
7045  2016     9      24                5            Saturday         268
7046  2016     9      23                4              Friday         267
7047  2016     9      21                2           Wednesday         265
7048  2016     9      20                1             Tuesday         264
7049  2016     9      10                5            Saturday         254

[7050 rows x 6 columns]

Esercizio 2/2

* Estraiamo solo i post relativi al 2012
* Estraiamo solo i post relativi a maggio 2018
* Confrontiamo il numero di post pubblicati nei weekend rispetto al numero di post pubblicati nel resto della settimana
* Troviamo il primo e ultimo post pubblicati in ogni anno
* Utilizzando il metodo .tz_localize(), aggiungiamo un fuso orario alle date delle transazioni
* Calcoliamo la differenza di tempo tra due transazioni
* Quanti tipi di post ci sono? E quanti per ogni tipo?

In [25]:
# Estraiamo solo i post relativi al 2012

fb[fb['status_published'].dt.year == 2012]

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
2046,246675545449582_303160673134402,photo,2012-12-23 03:11:00,0,0,0,0,0,0,0,0,0
2047,246675545449582_302341609882975,photo,2012-12-21 06:02:00,4,1,0,4,0,0,0,0,0
2048,246675545449582_299212316862571,photo,2012-12-13 11:36:00,3,0,0,3,0,0,0,0,0
2049,246675545449582_290159194434550,photo,2012-11-18 09:50:00,5,1,1,5,0,0,0,0,0
2050,246675545449582_290154177768385,photo,2012-11-18 09:16:00,2,0,0,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2630,246675545449582_246688625448274,photo,2012-07-15 03:54:00,19,17,3,19,0,0,0,0,0
2631,246675545449582_246686478781822,photo,2012-07-15 03:42:00,12,3,0,12,0,0,0,0,0
2632,246675545449582_246684432115360,photo,2012-07-15 03:32:00,14,1,0,14,0,0,0,0,0
2633,246675545449582_246678538782616,photo,2012-07-15 02:58:00,14,7,0,14,0,0,0,0,0
2634,246675545449582_246677465449390,photo,2012-07-15 02:51:00,15,3,0,15,0,0,0,0,0

In [26]:
# Estraiamo solo i post relativi a maggio 2018

fb[(fb['status_published'].dt.year == 2018) & (fb['status_published'].dt.month == 5)]

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
2690,134115277150304_264554297439734,photo,2018-05-31 12:17:00,11,0,0,10,0,1,0,0,0
2691,134115277150304_264493694112461,photo,2018-05-31 08:37:00,56,4,2,55,1,0,0,0,0
2692,134115277150304_264416247453539,photo,2018-05-31 03:12:00,72,13,1,69,3,0,0,0,0
2693,134115277150304_264168277478336,photo,2018-05-30 08:46:00,10,0,0,10,0,0,0,0,0
2694,134115277150304_264160757479088,photo,2018-05-30 08:24:00,56,3,12,54,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6339,1050855161656896_1615666458509094,link,2018-05-04 01:27:00,12,7,7,12,0,0,0,0,0
6340,1050855161656896_1614717551937318,photo,2018-05-03 01:15:00,63,21,1,62,1,0,0,0,0
6341,1050855161656896_1614187798656960,photo,2018-05-02 12:17:00,218,105,153,212,2,4,0,0,0
6342,1050855161656896_1613063202102753,video,2018-05-01 08:38:00,246,2373,475,108,130,5,2,1,0
6343,1050855161656896_1612778858797854,photo,2018-05-01 01:18:00,34,5,0,33,1,0,0,0,0

In [27]:
# Confrontiamo il numero di post pubblicati nei weekend rispetto al numero di post pubblicati nel resto della settimana

print("Numero di post pubblicati nei weekend:", fb[fb['status_published'].dt.dayofweek >= 5]['status_published'].count())
print("Numero di post pubblicati nel resto della settimana:", fb[fb['status_published'].dt.dayofweek < 5]['status_published'].count())
print('---')
print("Numero di post giornalieri nel weekend:", fb[fb['status_published'].dt.dayofweek >= 5]['status_published'].count() / 2)
print("Numero di post giornalieri nel resto della settimana:", fb[fb['status_published'].dt.dayofweek < 5]['status_published'].count() / 5)

Numero di post pubblicati nei weekend: 2041
Numero di post pubblicati nel resto della settimana: 5009
---
Numero di post giornalieri nel weekend: 1020.5
Numero di post giornalieri nel resto della settimana: 1001.8

In [28]:
# Troviamo il primo e ultimo post pubblicati in ogni anno

fb.groupby(fb['status_published'].dt.year)['status_published'].agg(['min', 'max'])

                                 min                 max
status_published
2012             2012-07-15 02:51:00 2012-12-23 03:11:00
2013             2013-01-02 02:23:00 2013-12-31 23:38:00
2014             2014-01-05 09:23:00 2014-12-10 07:42:00
2015             2015-01-02 03:41:00 2015-12-31 08:20:00
2016             2016-01-03 04:23:00 2016-12-31 05:13:00
2017             2017-01-02 08:25:00 2017-12-31 22:15:00
2018             2018-01-01 01:39:00 2018-06-13 01:12:00

In [29]:
# Utilizzando il metodo .tz_localize(), aggiungiamo un fuso orario alle date delle transazioni

fb['status_published'].dt.tz_localize('Europe/Rome', nonexistent = 'shift_forward')

0      2018-04-22 06:00:00+02:00
1      2018-04-21 22:45:00+02:00
2      2018-04-21 06:17:00+02:00
3      2018-04-21 02:29:00+02:00
4      2018-04-18 03:22:00+02:00
                  ...
7045   2016-09-24 02:58:00+02:00
7046   2016-09-23 11:19:00+02:00
7047   2016-09-21 23:03:00+02:00
7048   2016-09-20 00:43:00+02:00
7049   2016-09-10 10:30:00+02:00
Name: status_published, Length: 7050, dtype: datetime64[ns, Europe/Rome]

In [71]:
# Calcoliamo la differenza di tempo tra due pubblicazioni casuali

date = fb['status_published'].sample(2)
print("Data 1 = ", date.iloc[0])
print("Data 2 = ", date.iloc[1])
print("La differenza tra le due date è di: " , date.iloc[1] - date.iloc[0])

Data 1 =  2016-06-24 09:25:00
Data 2 =  2013-10-23 14:33:00
La differenza tra le due date è di:  -975 days +05:08:00

In [77]:
# Quanti tipi di post ci sono? E quanti per ogni tipo?

print("Numero di tipi di post: ", fb['status_type'].nunique())
print("---")
print("Numero di post per ogni tipo: \n")
fb['status_type'].value_counts()

Numero di tipi di post:  4
---
Numero di post per ogni tipo:

status_type
photo     4288
video     2334
status     365
link        63
Name: count, dtype: int64

Dai beginner_dataset carichiamo in un DataFrame il file pokemon.csv:
* Tramite i metodi .isnull() e .sum() controlliamo se ci sono valori nulli nel dataset e contiamo quanti valori nulli ci sono in ogni colonna
* Ci sono valori nulli?
* Se sì, avrebbe senso cercare di riempirli?
* Eliminiamo le righe che contengono valori nulli

In [89]:
# importiamo il dataset

poke = pd.read_csv('/content/drive/MyDrive/PYTHON/beginner_datasets/pokemon.csv')
poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [90]:
# Tramite i metodi .isnull() e .sum() controlliamo se ci sono valori nulli nel dataset e contiamo quanti valori nulli ci sono in ogni colonna

poke.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [91]:
# Ci sono valori nulli?

if poke.isnull().values.any() == True:
  print(f"Sono presenti {poke.isnull().sum().sum()} valori nulli")
else:
  print("Non sono presenti valori nulli")

Sono presenti 386 valori nulli

In [96]:
# Se sì, avrebbe senso cercare di riempirli?

# Dato che i pokemon possono avere o solo un tipo, o la combinazione di due tipi,
# per eliminare i valori nulli li riempiamo con i valori della colonna 'Type 1'

poke['Type 2'].fillna(poke['Type 1'], inplace = True)
poke

<ipython-input-96-867cc220e861>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  poke['Type 2'].fillna(poke['Type 1'], inplace = True)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,Fire,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Dai beginner_dataset carichiamo in un DataFrame il file automobile.csv:

* Ci sono valori nulli? Dove? Quanti?
* Quali righe hanno un valore nullo nella colonna num-of-doors?
* Esaminando i dati, cerchiamo dei valori da sostituire ai valori nulli nella colonna num-of-doors

In [97]:
# importiamo il dataset

auto = pd.read_csv('/content/drive/MyDrive/PYTHON/beginner_datasets/automobile.csv')
auto

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
200,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [98]:
# Ci sono valori nulli? Dove? Quanti?

if auto.isnull().values.any() == True:
  print(f"Sono presenti {auto.isnull().sum().sum()} valori nulli")
else:
  print("Non sono presenti valori nulli")

print("---")

print("Valori nulli per colonna: \n")
auto.isnull().sum()

Sono presenti 39 valori nulli
---
Valori nulli per colonna:

symboling             0
normalized-losses    37
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  0
stroke                0
compression-ratio     0
horsepower            0
peak-rpm              0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [99]:
# Quali righe hanno un valore nullo nella colonna num-of-doors?

auto[auto['num-of-doors'].isnull()]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
26,1,148.0,dodge,gas,turbo,NaN,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
60,0,NaN,mazda,diesel,std,NaN,sedan,fwd,front,98.8,...,122,idi,3.39,3.39,22.7,64,4650,36,42,10795

In [119]:
# Esaminando i dati, cerchiamo dei valori da sostituire ai valori nulli nella colonna num-of-doors

Abbiamo il seguente DataFrame che raccoglie le misurazioni di un sensore che misura la temperatura atmosferica giornaliera:

import numpy as np, pandas as pd

temp = pd.DataFrame({"Giorno": [0, 1, 2, 3, 4, 5, 6                                7, 8, 9, 10, 11, 12],       "Temperature": [18, 19, 18, np.nan, 21, 20, 20,                       np.nan, 21, 23, np.nan, 23, 24]})

* Il sensore a volte non funziona, dunque alcuni dati sono mancanti: quale sarebbe la migliore strategia per gestirli?

In [122]:
#creiamo il DataFrame

import numpy as np, pandas as pd

temp = pd.DataFrame({"Giorno": [0, 1, 2, 3, 4, 5, 6 , 7, 8, 9, 10, 11, 12],
                     "Temperature": [18, 19, 18, np.nan, 21, 20, 20, np.nan, 21, 23, np.nan, 23, 24]})

temp

    Giorno  Temperature
0        0         18.0
1        1         19.0
2        2         18.0
3        3          NaN
4        4         21.0
5        5         20.0
6        6         20.0
7        7          NaN
8        8         21.0
9        9         23.0
10      10          NaN
11      11         23.0
12      12         24.0

In [127]:
# Il sensore a volte non funziona, dunque alcuni dati sono mancanti: quale sarebbe la migliore strategia per gestirli?

temp.interpolate()

    Giorno  Temperature
0        0         18.0
1        1         19.0
2        2         18.0
3        3         19.5
4        4         21.0
5        5         20.0
6        6         20.0
7        7         20.5
8        8         21.0
9        9         23.0
10      10         23.0
11      11         23.0
12      12         24.0

Esercizio 1/2

Nel pacchetto os della standard library c'è la funzione os.listdir() che permette di avere la lista dei nomi di file all'interno di una directory; senza input di default li cerca nella directory di lavoro corrente, altrimenti si può passare un path per esaminare una directory specifica, ad esempio os.listdir("mio_progetto/beginner_datasets/")

* Nella directory dei beginner_datasets, quali sono i dataset che contengono dati nulli?

In [133]:
print('La lista di tutti i file nella cartella beginner_datasets è: \n')
for i in os.listdir('/content/drive/MyDrive/PYTHON/beginner_datasets/'):
  print('- ' , i)

La lista di tutti i file nella cartella beginner_datasets è:

-  diabetes.csv
-  automobile.csv
-  anomaly.csv
-  blood.csv
-  boston.csv
-  bike.csv
-  concrete.csv
-  cancer.csv
-  amazon.csv
-  bank.csv
-  diamond.csv
-  asia_gdp.csv
-  credit.csv
-  facebook.csv
-  hepatitis.csv
-  france.csv
-  gold.csv
-  income.csv
-  employee.csv
-  iris.csv
-  germany.csv
-  insurance.csv
-  energy.csv
-  elections.csv
-  glass.csv
-  electrical_grid.csv
-  heart.csv
-  forest.csv
-  heart_disease.csv
-  ipl.csv
-  house.csv
-  population.csv
-  migration.csv
-  mice.csv
-  juice.csv
-  jewellery.csv
-  pycaret_datasets.xlsx
-  kiva.csv
-  satellite.csv
-  seeds.csv
-  questions.csv
-  spx.csv
-  parkinsons.csv
-  nba.csv
-  public_health.csv
-  pokemon.csv
-  poker.csv
-  wine.csv
-  tweets.csv
-  wholesale.csv
-  traffic.csv
-  wikipedia.csv

In [134]:
print('I file che contengono dati nulli sono: \n')

for dataset in os.listdir('/content/drive/MyDrive/PYTHON/beginner_datasets/'):
  if dataset.endswith('.csv'):
    df = pd.read_csv('/content/drive/MyDrive/PYTHON/beginner_datasets/' + dataset)
    if df.isnull().values.any() == True:
      print('- ', dataset)

I file che contengono dati nulli sono:

-  automobile.csv
-  hepatitis.csv
-  france.csv
-  income.csv
-  elections.csv
-  house.csv
-  population.csv
-  mice.csv
-  seeds.csv
-  nba.csv
-  pokemon.csv
-  traffic.csv
-  wikipedia.csv